#header{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    padding: 1.7rem 1rem;
    .header{
        display: flex;
        justify-content: space-between;
        .logo{

        }
        nav{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                list-style: none;
                gap: 1.4rem;
                a{
                    text-decoration: none;
                }
            }
        }

    }

}